* {
    font-family: 'Courier New', Courier, monospace;

}

header {
    background-color: rgb(74, 75, 75);
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    color: white;

}
#toplayout{
    
}

body {
    background-color: rgb(29, 28, 28);
    min-height: 100%;
    background-image: url(./pexels-tim-mossholder-2096622.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
footer {
    position: absolute;
    bottom: 0px;
    color: white;
}

.textboxes {
    font-weight: bolder;
    display: block;
    position: relative;
    top: 200px;
    font-size: 26px;
    text-align: center;
    color: white;

}

.links {
    text-align: right;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    background-color: white;
}

#item-1 {

    display: inline;
    
}

#item-2 {

    display: inline;
}

#item-3 {

    display: inline;
}

#fname {
    background: transparent;
    border: 0;
    border-bottom: 2px solid white;
    color: white;
    width: 30%;
    font-weight: bolder;
    font-size: 18px;
    
}

#lname {
    background: transparent;
    border: 0;
    border-bottom: 2px solid white;
    color: white;
    width: 30%;
    font-weight: bolder;
    font-size: 18px;
    
}


#button {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 30px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-size: 22px;
  font-weight: bolder;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

